*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:darkgray;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}
.formbox{
    margin: auto;
    background-color: white;
    height: 90vh;
    width: 40vw;
}
.heading{
    /* background-color: rebeccapurple; */
    min-height: 100px;
    display: flex;
    align-items: center;
}
.heading h1{
    /* display: flex; */
    /* align-items: center; */
    font-size: 45px;
    text-align: center;
    width: 420px;
    max-height: 90px;
    /* background-color: red; */
}
.heading h1 span{
    font-size: small;
}